.recipes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.recipe {
  display: flex;
  flex-direction: column;
  max-width: 250px;
}

.ingredients, .arrangements, .choices{
  font-size: 14px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.arrangements {
  margin-bottom: 15px;
}

.ingredient, .arrangement {
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.toolpick {
  position: absolute;
  bottom: -10px;
  visibility: hidden;
  display: none;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  background-color: lightgray;
  padding: 2px 5px;
  border-radius: 5px;
}
.toolpick::after {
  content: '';
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent lightgray transparent;
}
.ingredient:hover .toolpick, .arrangement:hover .toolpick {
  visibility: visible;
  display: block;
}
.choices {
  border: 2px solid rgb(219, 214, 188);
  border-radius: 10px;
  padding: 5px;
}
.title {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

.image {
  width:75px;
  height:75px;
  border-radius: 25px;
  overflow:hidden;
}

img {
  width: 83px;
  margin: -4px;
  margin-top: -3px;
}

.ingredients .image, .arrangements .image {
  width: 50px;
  height: 50px;
  border-radius: 15px;
}
.ingredients img, .arrangements img {
  width: 58px;
  margin: -4px;
  margin-top: -3px;
}